.image {
    text-align: center;
}

.image:hover {
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin { /* spin animation for image */
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}